<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="static\css\style.css">
</head>
<header>
    <h1>Here You can find all the Google Collab file downloads!</h1>
</header>
<body>
    <h3>Click the link below to download the file from Google Colab where I learnt how to parse websites on a news website:</h3>
    <a href="static\downloads\news_parsing.ipynb" download><button id="button2">Download Notebook(.ipynb)</button></a>
    <a href="static\downloads\news_parsing.py" download><button id="button2">Download Notebook(.py)</button></a>
    <h1></h1>
</body>
<footer>
    <a href="/"> <button id="button">Home</button> </a>
    <a href="/logs"> <button id="button">Log</button> </a>
    <a href="/sources"> <button id="button">Sources</button> </a>
</footer>