<!DOCTYPE html>
<title>Anton's HELP Project</title>
<head>
    <link rel="stylesheet" href="static\css\style.css">
</head>
<header>
    <h1>Welcome To Anton's HELP Project!</h1>
    <h2>Student: Anton Chetvertkov<br>Form: 3J<br>Project Supervisor: Mr Wong</h2>
    <h3>Pages:</h3>
</header>
<body>
    
</body>
<footer>
    <a href="/"> <button id="button">Home</button> </a>
    <a href="/logs"> <button id="button">Log</button> </a>
    <a href="/sources"> <button id="button">Sources</button> </a>
</footer>