<!DOCTYPE html>
<title>LOGS</title>
<head>
    <link rel="stylesheet" href="static\css\style.css">
</head>

<header>
    <h1>LOGS</h1>
    <h5 id="disclaimer"> DISCLAIMER! This document only contains notable dates, not every single update to the code/project</h6>
</header>
<body>
    <ul>
        <li>Wednesday 27th March 2024: started working on the project, creatd the right file setup, created main.py, index.html and logs.html.</li>
        <li>Monday 1rst April: created sources.html and style.css. Created some basic styling for the website, will change later.</li>
        <li>Thursday 11th April: tried to parse a news website in google colab, unsuccessful. I was following a tutorial linked in sources.html.</li>
        <li>Sunday 14th April: created and coded logs_style.css. I also styled this page.<br>On the same day I also added buttons to every page for easy access between the html pages.<br>I also replaced style.css with logs_style.css to have 1 css file.</li>
    </ul>
</body>
<footer>
    <a href="/"> <button id="button">Home</button> </a>
    <a href="/logs"> <button id="button">Log</button> </a>
    <a href="/sources"> <button id="button">Sources</button> </a>
</footer>
