<!DOCTYPE html>
<title>SOURCES</title>
<body>
    <p>Tutorial I followed to find out how to parse websites (didn't work): https://medium.com/@adeoyewole/scraping-news-articles-in-python-53c567282e25</p>
    <p>Website I used to pick a colour palette for the styling: http://colormind.io/</p>
    <p>Knowledge and resources used from the Python Pro course at Kodland: https://platform.kodland.org/auth/</p>
</body>
<footer>
    <a href="/"> <button id="button">Home</button> </a>
    <a href="/logs"> <button id="button">Log</button> </a>
    <a href="/sources"> <button id="button">Sources</button> </a>
</footer>